Package: cutepiesmtpdaemon
Version: 0.15.12.317
Section: development, network
Maintainer: xhuman <booleanbaby@gmail.com>
Architecture: all
Depends: python, python-qt4
Description: Debugging SMTP server and Unix mailbox viewer
