[Desktop Entry]
Name=Cute Pie SMTP Daemon
Comment=Debugging SMTP server and mailbox viewer
Exec=cutepiesmtp
Icon=cutepiesmtp
Type=Application
Categories=Programming;Network;

